<!DOCTYPE html>
<html>
  <head>
    <title>mthropology</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
  </head>
  <header>
    <div class="jumbotron">
     <h1 id="title">mthropology</h1>
      <div class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav">
          <li class="nav"><%= link_to "collection", root_url %></li>
          <li class="nav"><%= link_to "expos", expos_path %></li>
          <li class="nav"><%= link_to "sign up", new_user_path %></li>
        </ul>
        <div class="navbar-form navbar-right" role="search">
          <%= form_tag("/", method: "get") do%>
          <%= text_field_tag(:term) %>
          <div class="btn">
            <%= submit_tag("search the collection") %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <body>
    <div id="sidebar">
      <div id="vam">
        <% show %>
        <% @sources.zip(@desc).each do |source, desc| %>
          <a href="<%= source %>"><img src="<%= source %>" alt="<%= desc.inner_text.to_s%>" title="<%= desc.inner_text.to_s%>" width="300"></a>
        <% end %>
      </div>
    </div>
    <div id="yield">
      <%= yield %>
    </div>
  </body>
</html>

