
  <%= form_for [@user, @idealog] do |form| %>
    <p><%= form.text_field :title, placeholder: "Title" %></p>
    <p><%= form.text_area :body, placeholder: "Ideas" %></p>
    <p><%= form.text_field :tag, placeholder: "Tag" %></p>
    <p><%= form.submit %></p>
  <% end %>
