<div class="container">
  <div id="yield">
  <header>
    <h5 class="login-status">Login as: <%=@user.email%></h5>
  </header>
    <h3>Ideas</h3>
      <% @user.idealogs.each do |idealog| %>
        <ul class="idealog-list">
          <li><%=link_to idealog.title, user_idealog_path(idealog.user_id, idealog.id) %> Created <%= time_ago_in_words(idealog.created_at)%> ago</li>
        </ul>
      <% end %>
      <br>
    <%= link_to "Log a new idea", new_user_idealog_path(@user.id) %>
      <br>
      <br>
    <h3>Exhibits</h3>
      <% @user.expos.each do |expo| %>
        <ul class="expo-list">
          <li><%=link_to expo.title, user_expo_path(expo.user_id, expo.id) %>  Created <%= time_ago_in_words(expo.created_at)%> ago</li>
        </ul>
      <% end %>
      <br>
    <%= link_to "Display a new expo", new_user_expo_path(@user.id) %>
      <br>
  </div>
</div>
