<div class="container">
  <h2>Expositions</h2>
    <div class="form-inline" role="form">
      <div class="form-group">
        <%= form_tag expos_path, :method => 'get' do %>
          <%= text_field_tag :search %></div>
            <div class="btn"><%= submit_tag "Search" %></div>
        <% end %>
      </div>
    </div>
    <br>
    <div id="yield">
      <dl>
        <% @expos.each do |expo| %>
          <dt> <%= link_to expo.title, user_expo_path(expo.user.id, expo.id)%>  by: <%=expo.user.name%></dt>
            <p class="time">Created <%= time_ago_in_words(expo.created_at)%> ago</p>
            <br>
        <% end %>
      </dl>
    </div>
</div>
