<div class="container">
  <div id="yield">
    <header>
      <h2><%= @idealog.title%></h2>
    </header>
    <body>
      <p><%= @idealog.body %></p>
    </body>
    <%= link_to "Edit", edit_user_idealog_path(@idealog.user.id, @idealog.id) %><br>
    <%= link_to "Log a new idea", new_user_idealog_path(@user.id) %><br>
    <%= link_to "Create an expo", new_user_expo_path(@user.id) %><br>
  </div>
</div>
