<!DOCTYPE html>
<html>
<head>
  <title>mthropology</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <div class="jumbotron">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <ul>
          <li><%= link_to "sign up", new_user_path %></li>
          <li><%= link_to "collect inspirations", images_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>mthropology</h1>
        <div class="navbar-form navbar-left" role="search">
          <%= form_tag("/", method: "get") do%>
          <%= text_field_tag(:term) %>
        </div>
        <div class="btn">
          <%= submit_tag("Search") %>
        </div>
          <% end %>
    </div>
  </div>
</header>

<body>
 <div id="sidebar">
  <div class="vam">
    <% show %>
    <% @sources.each do |source| %>
      <img src="<%= source %>" alt="VAM" height="100" width="100">
    <% end %>
  </div>
 </div>

  <div id="yield">
    <%= yield %>
  </div>
</body>
</html>

